<h1>Hidden Gems Recommendations</h1>
<h4>Get a restaurant recommendation tailored just for you!</h4>

<form [formGroup]="preferenceForm" (ngSubmit)="onSubmit()" #formID="ngForm">
  <h2>Your Restaurant Preferences</h2>
  <p>Please select your restaurant preferences in the form below. If you have no preference for a 
    field, please feel free to leave it blank</p>
  
  <div  class="price-group">
    <h3>Price Range</h3>
    <label for="low">
      💲
      <input type="radio" formControlName="price" value="low" >
    </label>
    <label for="medium">
      💲💲
      <input type="radio" formControlName="price" value="medium" >
    </label>
    <label for="high">
      💲💲💲
      <input type="radio" formControlName="price" value="high" >
    </label>
    <label for="extreme">
      💲💲💲💲
      <input type="radio" formControlName="price"value="extreme" >
    </label>
  </div>

  <div class="rating-group">
    <h3>Minimum star rating preferred</h3> 
    <label for="1">
      ⭐️
      <input type="radio" formControlName="rating" value="1">
    </label>
    <label for="2">
      ⭐️ ⭐️
      <input type="radio" formControlName="rating" value="2">
    </label>
    <label for="3">
      ⭐️ ⭐️ ⭐️
      <input type="radio" formControlName="rating" value="3" >
    </label>
    <label for="4">
      ⭐️ ⭐️ ⭐️ ⭐️
      <input type="radio" formControlName="rating" value="4" >
    </label>
    <label for="5">
      ⭐️ ⭐️ ⭐️ ⭐️ ⭐️
      <input type="radio" formControlName="rating" value="5" >
    </label>
  </div>

  <div class="restaurant-type-group">
    <h3>
      <label>Restaurant Type</label>
    </h3>
    <select formControlName="type">
      <option value="Restaurant">Restaurant</option>
      <option value="Cafe">Cafe</option>
    </select>
  </div>

  <br>
  <br>
  <button type="submit" id='submit' [disabled]="preferenceForm.invalid">Find my hidden gems</button>

</form>
