<div>
  <mat-card class="mat-elevation-24">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title id="name">{{hiddenGem.name}}</mat-card-title>
      <mat-card-subtitle id="address">{{hiddenGem.address}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image height="200" src={{hiddenGem.photo}} alt={{hiddenGem.name}}>
    <mat-card-content>
      <p id="price">Price Level (💲): {{hiddenGem.price_level}}</p>
      <p id="rating">Star Rating (⭐️): {{hiddenGem.rating}}</p>
    </mat-card-content>
  </mat-card>
</div>
