.ranking-list {
  padding: 16px;
  margin: 16px;
}

mat-spinner {
  display: grid;
  justify-content: center;
  margin-top:10px;
}

#rankingList-heading {
  text-align: center;
  margin: 0px;
  font-weight: bold;
}
