<div class="ranking-list">
  <h1 id="rankingList-heading" class="mat-display-1">Ranking List</h1>
  <div class="filter-buttons-row">
    <button mat-raised-button color="primary" class="filter-button" (click)="updateShow('any')">Any</button>
    <button mat-raised-button color="primary" class="filter-button" (click)="updateShow('restaurants')">Restaurants</button>
    <button mat-raised-button color="primary" class="filter-button" (click)="updateShow('cafes')">Cafes</button>
  </div>
  <mat-spinner *ngIf="!hiddenGems"></mat-spinner>
  <section *ngIf="show=='any'">
    <app-ranking-item *ngFor="let hiddenGem of hiddenGems | slice:0:10" [hiddenGem]="hiddenGem"></app-ranking-item>
  </section>
  <section *ngIf="show=='restaurants'">
    <app-ranking-item *ngFor="let hiddenGem of restaurants | slice:0:10" [hiddenGem]="hiddenGem"></app-ranking-item>
  </section>
  <section *ngIf="show=='cafes'">
    <app-ranking-item *ngFor="let hiddenGem of cafes | slice:0:10" [hiddenGem]="hiddenGem"></app-ranking-item>
  </section>
</div>

