<div id="location-container">
    <h1>Welcome to Hidden Gems!</h1>
    <h4>To use Hidden Gems, please allow location services. If not possible select a default location [Sydney, Adelaide].</h4>
    <button id="geolocationButton" (click)="enableNavigatorLocation()" type="button"><i></i>Find My Location</button>
    <button id="sydneyButton" (click)="getSydneyLocation()" type="button"><i></i>Sydney</button>
    <button id="adelaideButton" (click)="getAdelaideLocation()" type="button"><i></i>Adelaide</button>
    <p id="errorMessage" #errorMessage> </p>
</div>
