<div>
  <mat-card class="mat-elevation-z2">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title id="name">{{hiddenGem.name}}</mat-card-title>
      <mat-card-subtitle id="address">{{hiddenGem.address}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image height="200" src={{photoUrl}} alt={{hiddenGem.name}}>
    <mat-card-content>
      <p id="match-score">The hidden gem is a {{hiddenGem.matchScore}}/3 match!</p>
      <!-- TODO: Price level to be updated to not show null -->
      <p id="price">Price Level (💲): {{hiddenGem.priceLevel}}</p>
      <p id="business_type">Business type: {{type}}</p>
      <p id="number_of_reviews">Number of Reviews: {{hiddenGem.userRatingsTotal}}</p>
      <p id="rating">Star Rating (⭐️): {{hiddenGem.rating}}</p>
      <p id="opening_hours"><span *ngIf="hiddenGem.openingHours">Open Now</span><span *ngIf="!hiddenGem.openingHours">Currently closed</span></p>
    </mat-card-content>
  </mat-card>
</div>
